/* src/components/Navbar.css */
.navbar {
    background-color: transparent;
    color: #0d0d0d;
    padding: 10px 0;
    position: relative;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 24px;
    margin-right: 776px;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }